[defaults]
inventory           = inventory/hosts.ini
remote_user         = hyfer
private_key_file    = ~/creds/RedKeys
host_key_checking   = false
retry_files_enabled = false
stdout_callback     = ansible.builtin.default
result_format       = yaml
collections_path    = ~/.ansible/collections
collections_on_ansible_version_mismatch = ignore
remote_tmp = /tmp

[ssh_connection]
ssh_args            = -o ControlMaster=auto -o ControlPersist=600s -o StrictHostKeyChecking=no
pipelining          = true